<div *ngIf="account">

  <h2>{{account.name | uppercase}} Order your lemonade</h2>
  <div><span>id: </span>{{account.id}}</div>
  <div>

    <mat-form-field appearance="outline">
      <mat-label>Flavor</mat-label>
      <label>
        <input [(ngModel)]="account.flavor" matInput placeholder="Flavor">
      </label>
      <mat-hint>Flavor</mat-hint>
    </mat-form-field>

<!--    <label>Flavor:-->
<!--      <input [(ngModel)]="account.flavor" placeholder="flavor"/>-->
<!--    </label>-->
    <label>Size:
      <input [(ngModel)]="account.size" placeholder="size"/>
    </label>
    <label>Price:
      <input [(ngModel)]="account.price" placeholder="price"/>
    </label>
  </div>
<!--  <button (click)="save()">save</button>-->
  <button mat-flat-button color="primary" (click)="save()">Save</button>
</div>
